#sliders {
  height: 400px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.gallery-header {
  display: none;
}

.slider-item {
  display: none;
}

.img-thumbnail {
  cursor: pointer;
}

.added {
  border: 2px solid #1e1743;
  border-radius: 5px;
  filter: grayscale(90%);
}

/* img {
  height: 400px;
  object-fit: cover;
} */

.prev-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.prev, .next {
  background-color: transparent;
  padding: 8px 10px;
  color: #fff;
}

.dot {
  background-color: rgb(163, 156, 156);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
}

.main {
  display: none;
}

#learge-preview{
  width:400px;
  height:auto;
  background: pink;
  position: fixed;
  z-index: 10000;
  top:10px;
  right: 10px;
  border-radius:20px;
  box-shadow: 0 0.9px 0.9px rgba(0, 0, 0, 0.039),
  0 2px 2.2px rgba(0, 0, 0, 0.056),
  0 3.6px 3.9px rgba(0, 0, 0, 0.069),
  0 5.9px 6.4px rgba(0, 0, 0, 0.081),
  0 9.8px 10.6px rgba(0, 0, 0, 0.094),
  0 17.1px 18.5px rgba(0, 0, 0, 0.111),
  0 37px 40px rgba(0, 0, 0, 0.15),
  0 0.9px 0.9px rgba(0, 0, 0, 0.039),
  -2px  0 2.2px rgba(0, 0, 0, 0.056),
  -3.6px 0  3.9px rgba(0, 0, 0, 0.069),
  -5.9px 0  6.4px rgba(0, 0, 0, 0.081),
  -9.8px 0  10.6px rgba(0, 0, 0, 0.094),
  -17.1px 0  18.5px rgba(0, 0, 0, 0.111),
  -37px 0  40px rgba(0, 0, 0, 0.15);
  border-radius:10px;
  transition: 0.3s;
  overflow: hidden;

}
#learge-preview-img{
  width:100%;
  display: inherit;
  margin:auto;
}

#selected-image-preview{
  position: fixed;
  width: 100vw;
  height:100px;
  bottom:0px;
  display: flex;
  background: rgba(0, 0, 0, 0.329);
  justify-content: center;
  padding:10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0 -2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 -6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 -12.5px 10px rgba(0, 0, 0, 0.035),
  0 -22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 -41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 -100px 80px rgba(0, 0, 0, 0.07);
  z-index: 100;
  pointer-events: none;

}
.selected-image-box{
  height:auto;
  width:100px;
  background: white;
  margin-left:10px;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;

}
#seleted-image-count{
  position: fixed;
  top:10px;
  left:10px;
  background:pink;
  padding:20px;
  border-radius: 50%;

}
.selected-image-box img{
  width: 100%;
  object-fit: fill;
  height: 100%;
}
@media (max-width: 767px) {
  .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
    flex-direction: column;
  }
  #sliders {
    height: 300px;
    width: 90%;
  }
}